
    #java specific
    *.class

    #netbeans ignore personal stuff
    nbproject/private/
    nbproject/project.properties
    build/
    dist/	

    ## generic files to ignore
    *~
    *.lock
    *.DS_Store
    *.swp
    *.out

    # Package Files #
    *.jar
    *.war
    #java specific
    *.class

    #netbeans ignore personal stuff
    nbproject/private/
    nbproject/project.properties
    build/
    dist/	

    ## generic files to ignore
    *~
    *.lock
    *.DS_Store
    *.swp
    *.out

    # Package Files #
    *.jar
    *.war
    #java specific
    *.class

    #netbeans ignore personal stuff
    nbproject/private/
    nbproject/project.properties
    build/
    dist/	

    ## generic files to ignore
    *~
    *.lock
    *.DS_Store
    *.swp
    *.out

    # Package Files #
    *.jar
    *.war
    *.ear
